<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


{% extends "layout.html" %}

{% set tab = "m_home" %}

{% block body %}


    <h1>Recently Visited</h1>

        {% for domain_and_time in recent_domains_and_times[:7] %}
        <h4>
                &nbsp;<a href="{{domain_and_time[0]}} ">
                     {{domain_and_time[0]}}
                        <small>
                            ({{domain_and_time[1].date()}})
                        </small>
                </a>
        </h4>
        {% endfor %}

    <h1>Frequently Visited</h1>
        {% for domain_and_frequency in domain_and_frequency_map[:7] %}
        <h4>
                &nbsp;<a href="{{domain_and_frequency[0]}} ">
                     {{domain_and_frequency[0]}}
                        <small>({{domain_and_frequency[1]}})</small>
                </a>
        </h4>
        {% endfor %}

    <h1>Web Search</h1>

    <form method="get" action="https://www.google.com/search">

        <input type="text" name="q"  class="input-sm" value=""/>
        <input class="input-sm" type="submit" value="Go!" />

    </form>





{% endblock %}
