<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


{% extends "layout.html" %}

{% set tab = "m_home" %}

{% block body %}


    <h1>Recently Visited Sites</h1>
        {% for domain_and_time in recent_domains[:7] %}
        <h4>
                &nbsp;<a href="{{domain_and_time[0]}} ">
                     {{domain_and_time[0]}}
                </a>
        </h4>
        {% endfor %}

    <h1>Search the Web</h1>

    <form method="get" action="https://www.google.com/search">

    <input type="text" name="q" size="31" class="input-lg" value=""/><input class="input-lg" type="submit" value="Go"/>

    </form>





{% endblock %}
