{% extends "layout.html" %}

{% set tab = "contributions" %}

{% block body %}
    <h2>Word History</h2>
    {% if sorted_dates %}
        <p>These are the words you have encountered in your recent web wandering.</p>

        <div style="background:#eeffee">
        <small>
        <p>If you want to review one particular text you might want to try...</p>
        <ol>
        {% for u in all_urls[:3] %}
            <li><a href="{{ u.url }}">{{ u.url }}</a></li>
        {% endfor %}
        </ol>
        </small>
        </div>


        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Word</th>
                <th>Translation</th>
                <th style="text-align: right">Level</th>
            </tr>
	
	    {% for date in sorted_dates %}
	<tr>
		<td style="border:0px solid white;background-color:white;"><small>{{ date.strftime("%A %B %d, %Y") }}</small></td>
		<td style="border:0px solid white;background-color:white;">
        	<td style="border:0px solid green;background-color:white;">
	</tr>

         {% for url in urls_by_date.get(date) %}
	<tr>
		<td colspan="4" style="border:0px solid white;text-align:right; background-color:white;"><small><a href="{{ url.url }}">{{ url.url }}</a></small></td>
	</tr>

            {% for contribution in contribs_by_url.get(url) %}
	    {% if contribution.time.day == date.day %}
	    <!-- #small hack to make sure we don't bundle all the contribs with the same url in the same day... -->

            <tr>
		    <td style="border:0px solid white;background-color:white;"></td>
                <td><div style="width: 250px" >
                    {{ contribution.origin.word }}
                    <br/><small>{{ contribution.text.content }}
                    </small>
                    </div>
                </td>
                <td>{{ contribution.translation.word }}</td>
                <td style="text-align: right"><small>{{ contribution.origin.importance_level() }}</small></td>

            </tr>
	    {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <p>You didn't look up any words yet. Install our <a href="#" id="install-extension">Chrome extensions</a> to get started.</p>
    {% endif %}
{% endblock %}
