{% extends "layout.html" %}

{% set tab = "contributions" %}

{% block body %}
    <h2>History of Your Contributions</h2>
    {% if contributions_by_date %}
        <p>These really are the words you have contributed and the corresponding times.</p>

        

        <table class="table table-striped">
            <tr>
                <th>Date</th>
                <th>Word</th>
                <th>Contribution</th>
                <th style="text-align: right">Level</th>
            </tr>
	
	    {% for date in sorted_dates %}
	<tr>
		<td style="border:0px solid white;background-color:white;"><small>{{ date.strftime("%A %B %d, %Y") }}</small></td>
		<td style="border:0px solid white;background-color:white;">
        	<td style="border:0px solid green;background-color:white;">
	</tr>

            {% for contribution in contributions_by_date.get(date) %}
            <tr>
		    <td style="border:0px solid white;background-color:white;"></td>
                <td>{{contribution.text.url.render_link("..")|safe}}
                    {{ contribution.origin.word }}</td>
                <td>{{ contribution.translation.word }}</td>
                <td style="text-align: right"><small>{{ contribution.origin.importance_level() }}<small></td>

            </tr>
            {% endfor %}
            {% endfor %}
        </table>
    {% else %}
        <p>You didn't look up any words yet. Install our <a href="#" id="install-extension">Chrome extensions</a> to get started.</p>
    {% endif %}
{% endblock %}
