{% extends "layout.html" %}

{% set tab = "history" %}

{% block body %}
    <h2>Lookup History</h2>
    {% if searches %}
        <p>These are the last {{ contributions | length }} words you looked up.</p>

        <table class="table table-striped table-bordered">
            <tr>
                <th>Word</th>
                <th>Contribution</th>
            </tr>
            {% for contribution in contributions %}
            <tr>
                <td>{{ contribution.origin.word }}</td>
                <td>{{ contribution.translation.word }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You didn't look up any words yet. Install our <a href="#" id="install-extension">Chrome extensions</a> to get started.</p>
    {% endif %}
{% endblock %}
