{% extends "layout.html" %}

{% set tab = "learning_center" %}

{% block body %}
  <div class="col-md-4"></div>
  <div class="row col-md-4 ">
  <h2>Create Account</h2>

      <p>
          Note: The Zeeguu plugin works only with the Chrome browser.
      </p>

  <form id="create_account" class="form-horizontal" action="" method="post" class="input-group-lg">
      <fieldset>

          <div class="input-group">
                <label class="control-label">Name:</label>
                <input type="name" name="name" id="name" placeholder="Your Name" class="form-control" rel="popover" />
          </div>

          <div class="input-group">
              <label>Email:</label>
              <input type="email" name="email" id="email" placeholder="Email address" class="form-control" rel="popover" />
          </div>


          <div class="input-group">
              <label class="control-label">Choose a Password:</label>
              <input id="password" name="password" type="password" placeholder="Password" class="form-control" />
          </div>

        <div class="input-group" >
            <label class="control-label">The language you are learning</label>
                <select autofocus id="language" required name="language" class="form-control">
                    {% for l in languages %}
                        <option value="{{l.id}}">{{l.name}}</option>
                    {% endfor %}
                </select>
        </div>


        <div class="input-group" >
            <label class="control-label">Your base language</label>
                <select autofocus id="base_language" required name="base_language" class="form-control">
                    {% for l in base_languages %}
                        <option value="{{l.id}}">{{l.name}}</option>
                    {% endfor %}
                </select>
        </div>


          {% if flashed_messages %}
          {% for message in flashed_messages %}
              <div class="alert alert-error" id="login-error">
                {{ message }}
              </div>
          {% endfor %}
          {% endif %}

          
          <div class="alert alert-error hide" id="register-error">
            This email address is already in use.
          </div>

          <br/>
          <div class="input-group">
              <input type="submit" name="create_account" value="Create" class="btn btn-success" />
          </div>
      </fieldset>
  </form>
      </div>

{% endblock %}
