{% extends "layout.html" %}

{% set tab = "learning_center" %}

{% block body %}
  <h3>This will be fast </h3>
  <p>And we promise not to write you emails.</p>

  <form id="create_account" class="form-horizontal" action="" method="post">
      <fieldset>

          <div class="control-group">
                <input type="name" name="name" id="name" placeholder="Your Name" class="input-xlarge" rel="popover" />
          </div>

          <div class="control-group">
                  <input type="email" name="email" id="email" placeholder="Email address" class="input-xlarge" rel="popover" />
          </div>

          <div class="control-group">
                  <input id="password" name="password" type="password" placeholder="Password" class="input-xlarge" />

          </div>


          {% if flashed_messages %}
          {% for message in flashed_messages %}

          <div class="alert alert-error" id="login-error">
            {{ message }}
          </div>

          {% endfor %}
          {% endif %}

          
          <div class="alert alert-error hide" id="register-error">
            This email address is already in use, maybe try the login button instead.
          </div>

          <br/>
          <div class="control-group">
              <input type="submit" name="create_account" value="Create" class="btn btn-success" />
          </div>
      </fieldset>
  </form>
{% endblock %}
