{% extends "layout.html" %}

{% set tab = "gym" %}

{% block body %}
    <div id="language-selection">
        <select id="lang1">
            {% for language in languages %}
                 <option value="{{ language.id }}" {% if g.user.preferred_language_id == language.id %} selected {% endif %} >
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>
        <a href="#" id="direction"><i class="icon-long-arrow-right"></i></a>
        <select id="lang2">
            {% for language in languages %}
                <option value="{{ language.id }}"{% if "English" == language.name %} selected{% endif %}>
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="card" id="question">
        <span class="loading">Loading...</span>
        <!--
            The code for displaying the card is actually in website/zeeguu/static/js/sla.js:74

        -->


    </div>
    <input id="answer" placeholder="Translation" />
    <div class="example" id="example">
        <span>Loading...</span>
    </div>
    <div id="example_url" class="example_url">
        <span>..--..</span>
    </div>
    <div class="reason" id="reason">
        <span>Loading...</span>
    </div>

{% endblock %}
