{% extends "layout.html" %}

{% set tab = "learning_center" %}

{% block body %}

<div class="container welcome-message">
    <h2>Installing...</h2><br/>

    <h2>... In Chrome</h2>
    <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd"><h3>+ Chrome Extension</h3></a>


    <br/>
    <h2>... On Android</h2>
    <h3>
        1. Join <a href="https://plus.google.com/communities/107424205336144958718">
            Zeeguu Android Alpha Testers Group
        </a>
    </h3>

    <h3>
    2. Browse
        <a href="https://play.google.com/apps/testing/ch.unibe.scg.zeeguu">this link</a>
        from your phone.
    </h3>



    <br/>


</div>

{% endblock %}
