{% extends "layout.html" %}

{% set tab = "learning_center" %}

{% block body %}

<div class="container welcome-message">
    <h2>Installing...</h2><br/>

    <h3>... In Chrome</h3>
    <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd"><h3>+ Chrome Extension</h3></a>


    <br/>
    <h3>... On Android</h3>
    <p>
        1. First you must become a member of the <a href="https://plus.google.com/communities/107424205336144958718">
            Zeeguu Android Alpha Testers Group
        </a>
    </p>

    <p>
    2. Browse from your phone:
    <a href="https://play.google.com/apps/testing/ch.unibe.scg.zeeguu">https://play.google.com/apps/testing/ch.unibe.scg.zeeguu</a>.
    </p>



    <br/>


</div>

{% endblock %}
