{% extends "layout.html" %}
{% set tab = "home" %}

{% block body %}

<!-- Macros Used on this Page -->
{% macro member(name, position) -%}
    <div class="member">{{ name }}</div>
    <div class="member"><small>{{ position }}</small></div>
    <br/>
{%- endmacro %}
<!-- Macros Used on this Page -->



        <div class="container">


        <div class="row col-md-offset-0 col-md-12 green-block ">


                <div class="col-md-6 col-md-offset-3">
                    <!--
                        More messages:
                        Zeeguu wants to watch your words
                        The web is your textbook
                    -->
                    <h2 class="main-message">We transform the web into your language playground!</h2><br>

                <div class="main-description">

                    <p>
                        Every <b>unknown word</b> is an <b>opportunity</b>.<br/>
                    </p>

                    <!--<p>-->
                        <!--Using Zeeguu and reading the text you like-->
                        <!--might be even more entertaining and efficient than reading textbook texts talking about Maria who is a baby-sitter in Cologne.-->
                    <!--</p>-->
                    <!--<p>-->
                        <!--Aside from delivering you the translation, Zeeguu updates-->
                        <!--your online profile. Based on this profile you rehearse intelligently-->
                        <!--and monitor your progress.-->
                    <!--</p>-->

                    <!--<p>-->
                    <!--You might even be able to learn the vocabulary of-->
                    <!--a new language in a more entertaining way than reading the classical-->
                        <!--textbooks which always talk about Maria who is a baby-sitter in Spain.-->

                    <!--</p>-->

                </div>
                </div>
            </div>


    <div class="row three-steps-presentation generous-vertical-space">

        <div class="col-md-4 info-cassette">
            <img width="100px" src="static/img/book.png">
            <h3>Read Anything</h3>
            <p>
                You <b>read the texts that you like</b>.
                When you don't know a word, right click on it and select <b>Translate</b> from the
                menu.
                The word, translation, and context are uploaded automatically
                to your online profile.

            </p>
        </div>
        <div class="col-md-4 info-cassette">
            <img witdh="100px" src="static/img/clock.png">
            <h3>Review Anywhere</h3>
            <p>
                The <b>online profile</b> with all the words that you are learning is available on all your devices.
                You can rehearse your words when you are commuting by train, or even while waiting for your friend
                who is late again... Ah, why isn't everybody swiss?
            </p>
        </div>

        <div class="col-md-4 info-cassette">
            <img src="static/img/regular-exercise.gif">
            <h3>Rehearse Adaptively</h3>
            <p>
                Zeeguu uses intelligent algorithms
                to <b>personally train</b> you based on relative word importance, the
                context in which you encountered words, and the last time
                you saw a word (this is called, spaced repetition).
            </p>


        </div>
    </div>

    <div class="col-md-6 col-md-offset-3 text-center generous-vertical-space">
        <h1 style="text-align: center">How does it work?</h1>

        You translate words everywhere.
        Zeeguu learns about what you know, and what you don't know.
        You get intelligent reminders and progress feedback
        as your vocabulary improves.
    </div>


    <div class="row col-md-12-block generous-vertical-space">

        <div class="col-md-6 col-md-offset-3">
            <h1 style="text-align: center">See It in Action</h1>
            <p style="text-align: center">For HD version, see <a href="http://vimeo.com/95609280">Vimeo</a>.</p>
        </div>

        <div class="row col-md-6 col-md-offset-3">
            <iframe style="margin: 0 auto;display:block;" src="//player.vimeo.com/video/95609280" width="500" height="281" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

    </div>

    <div class="row col-md-12-block generous-vertical-space">

        <div class="col-md-6 col-md-offset-3">

            <div class="team-members">
                <h1>Current Team</h1>
                {{ member("Mircea Lungu", "Production") }}

                {{ member("Karan Sethi", "Machine Learning") }}
                {{ member("Pascal Giehl", "Android and AR") }}
                {{ member("Linus Schwab", "Android") }}

                {{ member("Ada Lungu", "UX and Web Design") }}

                {{ member("Anca Lungu", "Linguistics") }}

                <h1>Alumni</h1>
                {{ member("Simon Marti", "Initial API and Chrome Extension") }}

            </div>

        </div>

    </div>


     {% if not g.user %}
     <div class="col-md-12 info-cassette">
         <a href="{{ url_for('account.create_account') }}">Become a beta-tester!</a>
     </div>
     {% endif %}




</div>



{% endblock %}
