{% extends "layout.html" %}
{% set tab = "home" %}

{% block body %}

<!-- Macros Used on this Page -->
{% macro member(name) -%}
    <div class="member">{{ name }}</div>
{%- endmacro %}
<!-- Macros Used on this Page -->



        <div class="container">


        <div class="row col-md-offset-0 col-md-12 green-block generous-vertical-space">


                <div class="col-md-6 col-md-offset-3">
                    <!--
                        More messages:
                        Zeeguu wants to watch your words
                        The web is your textbook
                        Zeeguu: It takes care of your words
                    -->
                    <h1 class="main-message">The web is your textbook</h1><br>

                <div class="main-description">
                    <p>
                        Encountering <b>an unknown word</b> in the language you
                        are learning is an <b>opportunity</b>. Zeeguu helps you <b>take advantage</b>.
                    </p>
                    <p>
                        Using Zeeguu and reading the text you like
                        might be even more entertaining and efficient than reading textbook texts talking about Maria who is a baby-sitter in Cologne.
                    </p>
                    <!--<p>-->
                        <!--Aside from delivering you the translation, Zeeguu updates-->
                        <!--your online profile. Based on this profile you rehearse intelligently-->
                        <!--and monitor your progress.-->
                    <!--</p>-->

                    <!--<p>-->
                    <!--You might even be able to learn the vocabulary of-->
                    <!--a new language in a more entertaining way than reading the classical-->
                        <!--textbooks which always talk about Maria who is a baby-sitter in Spain.-->

                    <!--</p>-->



                </div>
                </div>
            </div>


        <div class="row col-md-12-block">
        </div>


    <div class="row three-steps-presentation generous-vertical-space">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1 style="text-align: center">How does it work?</h1>
                </div>

        <div class="col-md-4 info-cassette">
            <img width="100px" src="static/img/book.png">
            <h3>Read Anything</h3>
            <p>
                You read the texts that you like and are fit for your level. When you
                don't know a word the Zeeguu plugin translates it for you.
                If you want to learn a word, you upload it with one click
                to your profile.
            </p>
        </div>
        <div class="col-md-4 info-cassette">
            <img witdh="100px" src="static/img/clock.png">
            <h3>Review Anywhere</h3>
            <p>
                The profile with all the words you are learning is available on all your devices.
                You can rehearse your words when you are commuting by train, or even while waiting for your friend
                who is late again.
            </p>
        </div>

        <div class="col-md-4 info-cassette">
            <img src="static/img/regular-exercise.gif">
            <h3>Rehearse Adaptively</h3>
            <p>
                The Language Gym has intelligent algorithms
                that will train you based on relative word importance, the
                context in which you encountered words, and the last time
                you saw a word (spaced repetition).
            </p>


        </div>
    </div>


    <div class="row col-md-12-block generous-vertical-space">

        <div class="col-md-6 col-md-offset-3">
            <h1 style="text-align: center">See It in Action</h1>
            <p style="text-align: center">For HD version, see <a href="http://vimeo.com/95609280">Vimeo</a>.</p>
        </div>

        <div class="row col-md-6 col-md-offset-3">
            <iframe style="margin: 0 auto;display:block;" src="//player.vimeo.com/video/95609280" width="500" height="281" frameborder="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

    </div>

    <div class="row col-md-12-block generous-vertical-space">

        <div class="col-md-6 col-md-offset-3">

            <div class="team-members">
                <h1>Contributors</h1>
                {{ member("Mircea Lungu") }}
                {{ member("Ada Lungu") }}
                {{ member("Simon Marti") }}

            </div>

        </div>

    </div>


     {% if not g.user %}
     <div class="col-md-12 info-cassette">
         <a href="{{ url_for('account.create_account') }}">Become a beta-tester!</a>
     </div>
     {% endif %}




</div>



{% endblock %}
