{% extends "layout.html" %}

{% block body %}
    <h2>Zeeguu: The web is your textbook</h2>
<p>
Zeeguu allows basic users of a language to enrich their vocabulary while browsing the web and reading eBooks that are interesting to them as opposed to reading boring texts from language textbooks. How is this possible? 
</p>

<h3>The Progress</h3>
<p>Zeeguu monitors the evolution of your vocabulary in the language that you learn and gives you feedback on how well you do. </p>

<h3>The Readers</h3>
<p>Zeeguu implements a series of smart readers which allow you to translate the words that you don't know, and in the same time, capture the words that you don't know and the words that you already know thus building a precise model of your knowledge. </p>
<p>
At the moment we have one Reader implemented as an extension for Chrome. In the future we plan more readers.
</p>

<p>
The extension offers you a context menu with translations from the language you are learning. When you search for a word the search is logged and the word is marked as unknown for you. The context is also saved when possible to your personal profile. 
</p>

<h3>The Language Gym</h3>
<p>
Based on your personal profile, exercises and reminders are prepared for you in the Language Gym, on the web or on your mobile phone.
</p>


<!-- 
<h3>Related Projects</h3>
Learning with texts: http://lwt.sourceforge.net/index.php
-->





{% endblock %}
