{% extends "layout.html" %}

{% set tab = "install" %}

{% block body %}

<div class="container welcome-message">
    <h2>Zeeguu Installation Instructions</h2><br/>

    <h2>For The Chrome Browser</h2>
    From your Chrome Browser, go to the <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">Chrome Extension Store </a> and install the Zeeguu extension.
    <br/>
    Or point your browser to:
    <ul>
        <li>
            <a href="http://mir.lu/z/chrome">http://mir.lu/z/chrome</a>
        </li>
    </ul>

    After the installation remember that:
    <ol>
        <li>
        Before using the plugin you must click on the (newly available) elephant icon
        in your toolbar and login with your Zeeguu account
        </li>
        <li>
        You must enable the plugin on every website by clicking the
            grayed out elephant icon and pressing the on/off
            button from the dropdown menu.
        </li>
        <li>
        To get translations for words you must hold the alt key and select the text you
            want to translate.
            To automatically translate selected text, you must select the little lightning
            button from the same dropdown menu of earlier.
        </li>

    </ol>


    <br/>
    <h2>For Android</h2>
    <p>
        Because the app is in Alpha version, it is not publicly
        available on the Google Play Store.<br/>
        To install it you must follow the next two steps:
    </p>

    <ol>
        <li>
           Join the
            The <b>Zeeguu Alpha Testers Google+ Community</b>
            by following one of the two links:
            <ul>
                <li>
                    <a href="https://plus.google.com/communities/107424205336144958718">
                        https://plus.google.com/communities/107424205336144958718
                    </a>
                </li>
                <li>
                    <a href="http://mir.lu/z/plus">http://mir.lu/z/plus</a>
                </li>
            </ul>
        </li>

        <li>
        From your phone go to one of the following two links to install the app:
            <ul>
                <li><a href="https://play.google.com/apps/testing/ch.unibe.scg.zeeguu"> https://play.google.com/apps/testing/ch.unibe.scg.zeeguu</a></li>
                <li><a href="http://mir.lu/z/android">http://mir.lu/z/android</a> </li>
            </ul>


        </li>
    </ol>




    <br/>


</div>

{% endblock %}
