<!doctype html>
<html>
    <head>
        <title>Zeeguu</title>
        {% assets filters="cssmin", output="instance/style.css", "css/bootstrap.css", "css/select2.css", "css/font-awesome.css", "css/flippant.css", "css/style.css", "css/homepage.css" -%}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets -%}
        {% assets filters="jsmin", output="instance/script.js", "js/jquery.js", "js/jquery.validate.js", "js/bootstrap.js", "js/flippant.js", "js/select2.js", "js/sla.js" -%}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets -%}
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">
    </head>
    <body>
        <div class="container">
            <h1><img src="/static/img/logo.png" alt="ZeeGuu" height="90" /></h1>



    <div class="navbar navbar-default" id="menu-cassette">
        <div class="navbar-inner">
            <div class="row">

                <div class="col-md-8 meniu-titles">
                    <ul class="nav navbar-nav">
                    {% if g.user %}
                      <!--<li{% if tab == "history" %} class="active"{% endif %}><a href="{{ url_for('gym.history') }}">History</a></li>-->
                      <li{% if tab == "recognize" %} class="active"{% endif %}><a href="{{ url_for('gym.recognize') }}">Level 1: Recognize</a></li>
                      <li{% if tab == "gym" %} class="active"{% endif %}><a href="{{ url_for('gym.flash_cards') }}">Level 2: Remember</a></li>
                      <li{% if tab == "contributions" %} class="active"{% endif %}><a href="{{ url_for('gym.contributions') }}">History</a></li>
                      <li{% if tab == "recommended_texts" %} class="active"{% endif %}><a href="{{ url_for('gym.recommended_texts') }}">Recommended Reading</a></li>
                        {% else %}
                      <li{% if not tab %} class="active"{% endif %}><a href="{{ url_for('gym.home') }}">Overview</a></li>
                      <!--<li{% if tab == "install" %} class="active"{% endif %}><a href="{{ url_for('gym.install') }}">Install</a></li>-->

                    {% endif %}
                    </ul>
                    <ul class="nav navbar-nav ">
                    {% if g.user %}
                          <li><a href="{{ url_for('gym.logout') }}">Logout</a></li>
                        {% else %}
                          <li><a href="{{ url_for('gym.login') }}">Login</a></li>
                    {% endif %}
                    </ul>

                 </div>
            </div>
        </div>
    </div>


            <!--<div class="navbar">-->
                <!--<div class="navbar-inner">-->
                    <!--<ul class="nav">-->
                    <!--{% if g.user %}-->
                      <!--&lt;!&ndash;<li{% if tab == "history" %} class="active"{% endif %}><a href="{{ url_for('gym.history') }}">History</a></li>&ndash;&gt;-->
                      <!--<li{% if tab == "contributions" %} class="active"{% endif %}><a href="{{ url_for('gym.contributions') }}">Contributions</a></li>-->
                      <!--<li{% if tab == "recognize" %} class="active"{% endif %}><a href="{{ url_for('gym.recognize') }}">Recognize the Word</a></li>-->
                      <!--<li{% if tab == "gym" %} class="active"{% endif %}><a href="{{ url_for('gym.flash_cards') }}">Memory Flash Cards</a></li>-->
                      <!--<li{% if tab == "recommended_texts" %} class="active"{% endif %}><a href="{{ url_for('gym.recommended_texts') }}">Recommended Reading</a></li>-->
                        <!--{% else %}-->
                      <!--<li{% if not tab %} class="active"{% endif %}><a href="{{ url_for('gym.home') }}">Overview</a></li>-->
                      <!--<li{% if tab == "install" %} class="active"{% endif %}><a href="{{ url_for('gym.install') }}">Install</a></li>-->

                    <!--{% endif %}-->
                    <!--</ul>-->
                    <!--<ul class="nav pull-right">-->
                    <!--{% if g.user %}-->
                          <!--<li><a href="{{ url_for('gym.logout') }}">Logout</a></li>-->
                        <!--{% else %}-->
                          <!--<li><a href="{{ url_for('gym.login') }}">Login</a></li>-->
                    <!--{% endif %}-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
