<!doctype html>

<html>
    <head>

        <title>Zeeguu</title>

        {% assets filters="cssmin", output="instance/style.css", "css/bootstrap.css", "css/select2.css", "css/font-awesome.css", "css/flippant.css", "css/style.css", "css/homepage.css", "css/recognize.css" -%}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets -%}

        {% assets "js/jquery.js", "js/jquery.validate.js", "js/bootstrap.js", "js/flippant.js", "js/select2.js", "js/sla.js" -%}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets -%}
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">
    </head>


    <body>

    <div class="navbar navbar-default" id="menu-cassette">
        <div class="navbar-inner">
            <div class="row">

                <div class="col-md-12 meniu-titles">
                    <ul class="nav navbar-nav">
                        <li>
                            <div id="zeeguu-logo">
                                <a href="{{ url_for('gym.home') }}">
                                <img src="static/img/yak-orange.png" alt="ZeeGuu" height="40" />
                                    </a>
                            </div>
                        </li>

                    {% if g.user %}
                        <li class="{% if tab == "bookmarks"%} active{% endif %}"><a href="{{ url_for('gym.bookmarks') }}">Words</a></li>
                        <li class="{% if tab == "recognize" %} active{% endif %}"><a href="{{ url_for('gym.recognize') }}">Recognize!</a></li>
                        <li class="{% if tab == "translate" %} active{% endif %}"><a href="{{ url_for('gym.translate_with_context') }}">Translate in Context</a></li>
                    {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
                         {% if g.user %}
                            <li class="dropdown" >
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  {{ g.user.name }}<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                          <li class="{% if tab == "my_account" %}active{% endif %}"><a href="{{ url_for('account.my_account') }}">My Account</a></li>
                                            <li class=""><a href="{{ url_for('gym.logout') }}">Logout</a></li>
                              </ul>
                            </li>

                        {% else %}
                          <li><a href="{{ url_for('gym.login') }}">Login</a></li>
                    {% endif %}
                    </ul>

                 </div>
            </div>
        </div>
    </div>
    <!--</div>-->

        {% macro flash_messages() -%}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning">
                      <button class="close" data-dismiss="alert">×</button>
                      {{ message }}
                </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        {%- endmacro %}

            {% block body %}{% endblock %}

    </body>
</html>
