{% extends "layout.html" %}

{% set tab = "login" %}

{% block body %}


<div class="container">

    <form id="login" class="form-horizontal" action="" method="post" role="form" >
        <div class="login-block">
            <div class="inner-center login-block-width">
                {{ flash_messages() }}

                <h2 id="sign-in-title">Sign In</h2>

                <div class="input-group-lg">
                    <label>Email</label>
                    <!--<div class="col-s`email" name="email" class="form-control " id="email" placeholder="Email">-->
                    <input type="email" class="form-control input-lg" id="email" name="email" placeholder="Email">
                </div>


                <div class="input-group-lg">
                    <label>Password</label>
                    <input type="password" class="form-control input-lg" id="password" name="password" placeholder="Password">
                </div>

                <div class="input-group-lg">
                    <button type="submit" name="login" value="Login" class="btn btn-success"> Login </button>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}
