{% extends "layout.html" %}

{% set tab = "learning_center" %}

{% block body %}
  <h2>Welcome {{ user.name }}!</h2>
  <p>

      You are a beta-tester, <br/>
      &nbsp;&nbsp;&nbsp;&nbsp;and we are thankful for your understanding and feedback.<br/><br/>
      Your learning language is {{user.preferred_language.name}}.<br/>
  </p>

        <hr/>
<small>
        <p>If you find the Zeeguu plugin useful,
            <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">
                rate it</a> in the Chrome Store.
        </p>
</small>


{% endblock %}
