{% extends "layout.html" %}

{% set tab = "learning_center" %}

{% block body %}

<div class="container welcome-message">
    <h2>Welcome {{ user.name }}!</h2>
    <p>
        Make sure that you have all the cool Zeeguu apps.
    </p>


    <a href="https://www.dropbox.com/s/c34hxd9el39vzkj/ZeeguuTranslate.apk?dl=0"><h3>Install Android App from Dropbox</h3></a>

        <hr/>
    <small>
        <p>If you find the Zeeguu plugin useful,
            <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">
                rate it</a> in the Chrome Store.
        </p>
    </small>
</div>

{% endblock %}
