{% extends "layout.html" %}

{% set tab = "recognize" %}

{% block body %}
    <div id="language-selection">
        <div class="exercise-title">Recognize the Word</div>
        <select id="lang1" disabled style="visibility: hidden">
            {% for language in languages %}
                <option value="{{ language.id }}"{% if "English" == language.name %} selected{% endif %}>
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>

        <i style="visibility: hidden" class="icon-long-arrow-right"></i>

        <select style="visibility: hidden" id="lang2" disabled >
            {% for language in languages %}
                 <option value="{{ language.id }}" {% if g.user.preferred_language_id == language.id %} selected {% endif %} >
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>

    </div>



    <div class="recognize_card" id="question2">
        <div class="starholder"><a href="#" id="star"></a></div>

        <div id="question" class="recognize_question">
            <span class="loading">Loading...</span>
            <!-- code for displaying the card is in website/zeeguu/static/js/sla.js:74 -->
        </div>

        <div id="example" class="recognize_example" >
            <span></span>
        </div>

        <div id="example_url" class="recognize_example_url">
            <span>..--..</span>
        </div>

        <div  id="reason" class="recognize_reason">
            <span>Loading...</span>
        </div>


    </div>
    <input id="answer" placeholder="Translation" />


{% endblock %}
