{% extends "layout.html" %}

{% set tab = "recognize" %}

{% block body %}

    <div id="language-selection">

        <select id="lang1" disabled style="visibility: hidden">
            {% for language in languages %}
                <option value="{{ language.id }}" {% if "English" == language.name %} selected{% endif %}>
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>

        <i style="visibility: hidden" class="icon-long-arrow-right"></i>

        <select style="visibility: hidden" id="lang2" disabled >
            {% for language in languages %}
                 <option value="{{ language.id }}" {% if g.user.preferred_language_id == language.id %} selected {% endif %} >
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>

    </div>


    <div style="display:none;visibility: hidden;" id="redirect_to_url">{{redirect_to_url}}</div>

    <div class=" card white_background gray_text">
        Solve an exercise before going to {{redirect_to_domain}} <b>;)</b>
    </div>

    <div id="recognize_card">

        <div class="exercise-title">Recognize the Word</div>

        <div class="starholder"><a href="#" id="star"></a></div>

        <div id="question" class="recognize_question"><span class="loading">Loading...</span></div>

        <div  id="rank" class="rank"><span>Rank...</span></div>

        <div id="example" class="recognize_example" >
            <span></span>
        </div>

        <input id="answer_before_facebook" placeholder="" />

        <div  id="reason" class="recognize_reason"><span>Loading...</span></div>

        <div  id="progress" class="recognize_progress"><span>Loading...</span></div>

    </div>



{% endblock %}
