{% extends "layout.html" %}

{% set tab = "gym" %}

{% block body %}


    <div id="language-selection">
        <div class="exercise-title">Translate with Context</div>

        <select id="lang1" style="visibility: hidden">
            {% for language in languages %}
                 <option value="{{ language.id }}" {% if g.user.preferred_language_id == language.id %} selected {% endif %} >
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>
        <!--<a href="#" id="direction"><i class="icon-long-arrow-right"></i></a>-->
        <select id="lang2" style="visibility: hidden">
            {% for language in languages %}
                <option value="{{ language.id }}"{% if "English" == language.name %} selected{% endif %}>
                    {{ language.name }}
                </option>
            {% endfor %}
        </select>
    </div>

<!--ML: here the references to flash cards should
be removed...-->

    <div class="flash_card" id="question2">
        <div class="starholder"><a href="#" id="star"></a></div>

        <div  id="progress" class="flash_progress"><span>Loading...</span></div>
        <div  id="rank" class="rank"><span>Rank...</span></div>

        <div class="question" id="question"><span class="loading">Loading...</span></div>




        <div class="flash_example" id="example">
            <span>Loading...</span>
        </div>

        <input id="translate_answer" placeholder="Translation" />

        <div class="reason" id="reason">
            <span>Loading...</span>
        </div>

    </div>



{% endblock %}
