/*create_account page*/

.create-account-block 
  width: 100%
  background-color: rgb(244,244,244)
  margin-top: 75px


.color-block
  background-color: rgb(126,139,152)
  height: 60px
  padding: 2px
  padding-left: 320px
  color: #ffffff
  margin-bottom: 60px


#create-account-title
  margin-bottom: 60px
  font-size: 36px


.inner-center
  display: block
  margin: 0px auto


.create-account-block-width
  width: 500px
  padding-top: 20px
  padding-bottom: 20px


.btn-success
  margin-bottom: 20px
  font-size: 24px


.input-group-lg
  margin-bottom: 40px


.input-lg
  height: 50px !important
  //line-height: 50px !important
  //padding: 11px 19px !important
  font-size: 24px !important


.input-group-lg label
  font-size: 28px


@media screen and (max-width: 992px)
  //.create-account-block
  //  background-color: greenyellow

  #create-account-title
    font-size: 32px

  .input-group-lg label
    font-size: 22px

  .input-lg
    font-size: 18px !important

  .btn-success
    font-size: 18px


@media screen and (max-width: 768px)
  //.create-account-block
  //  background-color: pink

  #create-account-title
    font-size: 42px

  .input-group-lg label
    font-size: 34px

  .input-lg
    font-size: 30px !important

  .btn-success
    font-size: 30px

