h1 img {
    height: 40px;
}

#zeeguu-logo {
    padding: 4px;
    padding-left: 10px;
}
#login {
   margin-top: 20px;
}

#login .controls {
    margin-left: 0;
}

#login .help-inline {
    font-size: 14px;
}

.btn-lg {
  padding: 0px 0px;
  font-size: 18px;
}

.exercise-title {
    color: darkgray;
    padding-top: 10px;
    font-size: x-large;
}





#language-selection {
    text-align: center;
    margin-bottom: 10px;
}

#direction {
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
}

#answer, #translate_answer {
    display: block; 
    margin: 0 auto;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.loading {
    color: #ccc;
}

.white-cell {
	border: 0px solid white;
	background-color:white;
}

/*styles from ada*/

.three-steps-presentation {
    background-color: lightgoldenrodyellow;
    /*margin-top: 36px;*/
    border-width: 0px;
    border-style: solid;
    border-color:dimgrey;
}

.three-steps-presentation img {
    width: 200px;
    height: 200px;
    padding: 5px;
}


.info-cassette {
    text-align: center;
    padding: 30px;
}

.info-cassette p {
    font-size:17px;
    color: dimgrey;
}

.info-cassette h3 {
    font-weight: bold;
}


/* styles for contributions page */
.word-action-buttons-td {
    padding-right: 0px;
    margin-right: 0px;
    width: 16px;
}

.word-details-td {
    width: 360px;
}
.word-action-buttons {
    width: 16px;
    padding: 0px;
    padding-left: 4px;
}



.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding-right: 4px;
    padding-left: 0px;
}

.translation {
    padding-left: 10px;
}

.button-disabled {
    color: lightgray;
}

.centered-content {
    text-align: center;
}



.centered-inner-div {
    /* Centering a div inside another div */
    /* From: http://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-a-div */
    width: 50%;
    margin: 0 auto;
}