body {
    /*background-color:red;*/
    font-family:"Myriad Pro", "Lucida Grande", "Helvetica Neue";
    color: #4A4A4A;
    line-height:2;
    font-size: 18px;
}


/* MEDIUM devices have green background */
@media screen and (max-width: 1200px) {
    body {
        /*background-color: red;*/
        font-size: 10px;
    }
}


/* SMALL devices have green background */
@media screen and (max-width: 992px) {
    body {
        /*background-color: blueviolet;*/
    }
}

/* X-Small devices have green background */
@media screen and (max-width: 768px) and (min-width: 100) {
    body {
        /*background-color: green;*/
    }
}


body h1 {
    font-family: "Myriad Pro Squezed";
}

h1 img {
    height: 40px;
}


.btn-lg {
    padding: 0px 0px;
    font-size: 18px;
}

.exercise-title {
    color: green;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 40px;
    font-size: x-large;
}


#language-selection {
    text-align: center;
    margin-bottom: 10px;
}

#direction {
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
}

#answer, #translate_answer {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.loading {
    color: #ccc;
}

.white-cell {
    border: 0px solid white;
    background-color:white;
}

