h1 img {
    height: 40px;
}

#login {
   margin-top: 20px;
}

#login .controls {
    margin-left: 0;
}

#login .help-inline {
    font-size: 14px;
}

.card {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 0px;
    background: #eee;
    border: 1px solid #ddd;
    font-size: 24px;
    position: relative;
}

.example_url {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 400px;
    border-radius: 2px;
    font-size: 12px;
    position: relative;
}

.example {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 400px;
    border-radius: 2px;
    font-size: 17px;
    position: relative;
}

.reason {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 400px;
    border-radius: 2px;
    font-size: 10px;
    position: relative;
}

#star {
    text-align: right;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 16px;
}


.card span {
    position: absolute;
    top: 80px;
    width: 400px;
    text-align: center;
    left: 0;
}

#language-selection {
    text-align: center;
    margin-bottom: 10px;
}

#direction {
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
}

#answer {
    display: block; 
    margin: 0 auto;
    width: 200px;
    margin-top: 10px;
}

.correct {
    color: #1db52e;
}

.wrong {
    color: #b5000e;
}

.loading {
    color: #ccc;
}

.white-cell {
	border: 0px solid white;
	background-color:white;
}

/*styles from ada*/

.three-steps-presentation {
    background-color: lightgoldenrodyellow;
    margin-top: 36px;
    border-width: 0px;
    border-style: solid;
    border-color:dimgrey;
}

.three-steps-presentation img {
    width: 200px;
    height: 200px;
    padding: 5px;
}


.info-cassette {
    text-align: center;
    padding: 30px;
}

.info-cassette p {
    font-size:17px;
    color: dimgrey;
}

.info-cassette h3 {
    font-weight: bold;
}


/* styles for contributions page */
.word-action-buttons-td {
    padding-right: 0px;
    margin-right: 0px;
    width: 16px;
}

.word-details-td {
    width: 360px;
}
.word-action-buttons {
    width: 16px;
    /*background-color: yellowgreen;*/
    padding: 0px;
    padding-left: 4px;
}



.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding-right: 4px;
    padding-left: 0px;
}
.impression {

}

.translation {
    padding-left: 10px;
}

.button-disabled {
    color: lightgray;
}